.search {
	text-align: center;
	margin-top: 143px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: right;
}

li {
	display: inline-block;
}

li a {
	display: block;
	color: black;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 13px;
}

.menu a {
	padding: 10px 5px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: whitesmoke;
	text-align: center;
}

.footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: right;
	display: inline-block;
}

.footer #first_section {
	text-align: left;
	margin-left: 30px;
	height: 5px;
	margin-bottom: 10px;
}

.footer #first_section p {
	color: rgba(0,0,0,.54);
	font-family: arial, sans-serif;
	font-size: 15px;
}

.footer #second_section #business {
	float: left;
	margin-left: 14px;
}

.footer #second_section #account {
	float: right;
}

.footer #second_section #business li a {
	color: rgba(0,0,0,.54);
}

.footer #second_section #account li a {
	color: rgba(0,0,0,.54);
}

hr {
	border: none;
}

input {
	border: 1px solid lightgrey;
	padding: 0px;
	margin: 0px;
	outline: none;
	margin-top: 21px;
	width: 570px;
	height: 44px;
	box-shadow: 4px 4px lightgrey;
}